{% extends 'userbase.html' %}


{% block content %}
    {% for message in messages %}
        <div id="passsuccess" class="alert alert-info text-center mt-3 mx-5">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-10 shadow-lg p-3 offset-1">
            <div class="head d-flex">
                <div class="col-4">
                    <div class="container">
                        <!-- <img style="height: 200px;width: 200px;border: 2px black solid;" src="/media/{{ profile.profilepic }}" alt=""> -->
                        <div class="dropdown">
                            <button type="button" data-toggle="dropdown" aria-expanded="false">
                                
                                {% if profile.profilepic %} 
                                <img style="height: 200px;width: 200px;border: 2px black solid;" src="/media/{{ profile.profilepic }}" alt="">
                                {% else %}
                                <img style="height: 200px;width: 200px;border: 2px black solid;" src="/media/{{ profile.profilepic.field.default }}" alt="Default Profile Picture">
                                {% endif %}
                                    

                            </button>
                            <div class="dropdown-menu">
                                
                                {% if profile.profilepic %}
                                <a class="dropdown-item text-primary" href="/media/{{ profile.profilepic }}"> <i class="bi bi-eye-fill"></i> VIEW PHOTO</a>
                                <a class="dropdown-item text-danger"  onclick="return confirm('Are you sure you want to remove your profile picture?');" href="{% url 'remove_profilepic' %}"> <i class="bi bi-trash"></i> REMOVE PHOTO</a>
                                {% endif %}
                                    
                                <a class="dropdown-item text-warning" href="{% url 'update_profilepic' %}"><i class="bi bi-pencil-square"></i> UPLOAD NEW PROFILE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col">
                            <h4 class="font-weight-bolder">POSTS {{ no_of_posts }}</h4>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-bolder">FOLLOWERS {{ follower }}</h4>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-bolder">FOLLOWING {{ following }}</h4>
                        </div>
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-gear"></i> SETTINGS
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-warning"  href="{% url 'updateprofile' %}"> <i class="bi bi-pencil-square"></i> UPDATE PROFILE</a>
                                    <a class="dropdown-item text-primary"  href="{% url 'change_password' %}"> <i class="bi bi-shield-lock"></i> CHANGE PASSWORD</a>
                                    <a class="dropdown-item text-danger"  onclick="return confirm('Are you sure you want to deactivate your account?');"  href="{% url 'deactivate' %}"> <i class="bi bi-trash"></i> DEACTIVATE ACCOUNT</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tail p-5">
                <h5 class="font-weight-bolder">User details :</h5>
                <table class="table table-borderless text-center">
                    <tr>
                        <th>USERNAME</th>
                        <td>:</td>
                        <th>{{ user.username }}</th>
                    </tr>
                    <tr>
                        <th>FULL NAME</th>
                        <td>:</td>
                        <th class="text-uppercase">{{ user.first_name }} {{ user.last_name }}</th>
                    </tr>
                    <tr>
                        <th>EMAIL</th>
                        <td>:</td>
                        <th>{{ user.email }}</th>
                    </tr>
                    <tr>
                        <th>LOCATION</th>
                        <td>:</td>
                        <th>{{ profile.location }}</th>
                    </tr>
                </table>
                <h5 class="font-weight-bolder mt-5">BIO :</h5>
                <p class="text-center">{{ profile.bio }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-8 offset-2 p-5">
            <h3 class="text-center mb-5 font-weight-bolder">
                YOUR POSTS
            </h3>
            {% if no_of_posts == 0 %}
                <h5 class="text-center">NO POSTS YET!</h5>
            {% endif %}
            {% for post in posts reversed %}
                        
                    {% if post.image == "" %}
                        <div class="container mb-5 bg-white shadow-lg rounded-lg">
                            <div class="d-flex header p-2 pt-3 justify-content-between">
                                <div class="d-flex">
                                    <a href="">
                                        
                                        {% if post.profile.profilepic %}
                                        <img style="height: 30px;width: 30px;border-radius: 50%; margin-right: 10px;" src="/media/{{ post.profile.profilepic }}" alt="">
                                        {% else %} 
                                        <img style="height: 30px;width: 30px;border-radius: 50%; margin-right: 10px;" src="/media/{{ post.profile.profilepic.field.default }}" alt="">
                                        {% endif %}

                                    </a>
                                    <span><a style="text-decoration: none;color:#b921ff ;" href="">{{ post.user }}</a></span>
                                </div>  
                                <div>
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn" data-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-danger" onclick="return confirm('Are you sure you want to delete the post?');" href="{% url 'delete_post' id=post.id %}"><i class="bi bi-trash"></i> DELETE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text">
                                <p class="ml-3 font-weight-bold text-uppercase">{{ post.text }}</p>
                            </div>
                            <hr>
                            <div class="p-2 ml-3 footer d-flex justify-content-between">
                                <div class="like">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button style="border: none;color: blue;font-size: larger;" data-post-id="{{ post.id }}" class="likebtn font-weight-bolder"> <i class="bi bi-hand-thumbs-up-fill"></i></button>
                                    </form>
                                {% if post.no_of_likes == 0 %}
                                    <p class="post-id-{{ post.id }}">No Like</p>
                                {% elif post.no_of_likes == 1 %}
                                    <p class="post-id-{{ post.id }}">{{ post.no_of_likes }} Like</p>
                                {% else %}
                                    <p class="post-id-{{ post.id }}">{{ post.no_of_likes }} Likes</p>
                                {% endif %}
    
                                </div>
                                <div class="createdat">
                                    <h6>{{ post.created_at }}</h6>
                                </div>
                            </div>
                        </div>
                    
                    {% else %}
                        <div class="container mb-5 bg-white shadow-lg rounded-lg">
                            <div class="d-flex header p-2 pt-3 justify-content-between">
                                <div class="d-flex">
                                    <a href="">
                                        
                                        {% if post.profile.profilepic %}
                                        <img style="height: 30px;width: 30px;border-radius: 50%; margin-right: 10px;" src="/media/{{ post.profile.profilepic }}" alt="">
                                        {% else %} 
                                        <img style="height: 30px;width: 30px;border-radius: 50%; margin-right: 10px;" src="/media/{{ post.profile.profilepic.field.default }}" alt="">
                                        {% endif %}

                                    </a>
                                    <span><a style="text-decoration: none;color:#b921ff ;" href="">{{ post.user }}</a></span>
                                </div>  
                                <div>
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn" data-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-danger" onclick="return confirm('Are you sure you want to delete the post?');" href="{% url 'delete_post' id=post.id %}"><i class="bi bi-trash"></i> DELETE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text">
                                <p class="text-center font-weight-bold text-uppercase">{{ post.text }}</p>
                            </div>
                            <div class="image text-center">
                                <a href="/media/{{ post.image }}">
                                    <img style="max-height: calc(100%/3);max-width: 600px;" src="/media/{{ post.image }}" alt="">
                                </a>
                            </div>
                            <hr>
                            <div class="p-2 ml-3 footer d-flex justify-content-between">
                                <div class="like">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button style="border: none;color: blue;font-size: larger;" data-post-id="{{ post.id }}" class="likebtn font-weight-bolder"> <i class="bi bi-hand-thumbs-up-fill"></i></button>
                                    </form>
                                {% if post.no_of_likes == 0 %}
                                    <p class="post-id-{{ post.id }}">No Like</p>
                                {% elif post.no_of_likes == 1 %}
                                    <p class="post-id-{{ post.id }}">{{ post.no_of_likes }} Like</p>
                                {% else %}
                                    <p class="post-id-{{ post.id }}">{{ post.no_of_likes }} Likes</p>
                                {% endif %}
    
                                </div>
                                <div class="createdat">
                                    <h6>{{ post.created_at }}</h6>
                                </div>
                            </div>
                        </div>
                
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        setTimeout(function(){
            let passsuccess = document.getElementById('passsuccess');
            passsuccess.parentNode.removeChild(passsuccess);
        },3000);

    </script>
{% endblock content %}
    