{% extends 'userbase.html' %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container mt-5 bg-white shadow-lg border border-dark p-5 rounded-lg">
                <h1 style="color: #b921ff;" class="text-center font-italic">NEW POST - TEXT</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label style="color: #b921ff;" class="form-label font-weight-bolder" for="post">POST</label>
                        <textarea name="post" class="form-control" placeholder="New post..." id="post" cols="30" rows="10"></textarea>
                    </div>
                    <div>
                        <button style="background-color: #b921ff;color: white;" class="btn btn-block">POST</button>
                    </div>
                </form>
                <div class="message text-center">
                    
                    {% for message in messages %}
                        <small style="color: red;">{{ message }}</small>
                    {% endfor %}
                        
                </div>
        </div>
    </div>
{% endblock content %}
    