{% extends 'userbase.html' %}



{% block content %}
    <div class="row">
        <div class="col-8 offset-2 p-5 border border-dark rounded-lg">
            <a style="font-size: 40px;" href="{% url 'my_profile' %}"><i class="bi bi-arrow-left-square-fill"></i></a>
            <h2 class="text-center">UPDATE PROFILE PICTURE</h2>
            <div class="container p-5">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5>CURRENT PROFILE PICTURE : </h5>
                    
                    {% if profilepic %}
                    <img style="height:  calc(100%/3);width: calc(100%/3);border: 2px black solid;" src="/media/{{ profilepic }}" alt="">
                    {% else %}
                    <h6 class="text-danger">You have no profilepicture!</h6>
                    {% endif %}
                        
                    <div class="form-group">
                        <label for="pic" class="form-label">NEW PROFILE PIC: </label>
                        <input class="form-control" type="file" name="pic" id="pic">
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-outline-dark">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
    